body{
    margin: 0;
    width: 100vw;
    height: auto;
}
p{
    font: Helvetica, sans-serif;
}
h1{
    font: 30px Helvetica, sans-serif;
    color: #411f00;
    margin: 0;
}
p, h2{
    font-family: Helvetica, sans-serif;
}
.title{
    background-color: rgb(255, 208, 147);
    display: inline-block;
    padding: 10px;
    width: 100%;
    justify-items: center;
}
nav{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 100%;
    justify-items: center;
    padding: 5px;
}

.button-container{
    background-color: #ffffff;
    display: block;

}
.navbutton{
    background-color: #ffffff;
    border-style: none;
    display: inline-block;
    
    align-self: center;
    font-size: larger;
}
.navbutton:hover{
    background-color: #fce788;
}
.navbutton:active{
    background-color: #fff0ae;
    border-bottom: 5px solid #ffc42d;
}

section{
    display: none;
    margin-left: 20px;
}

#searchdisplayframe{
    margin-top: 10px;
    display: block;
    border: 3px solid black;
    border-radius: 15px;
    
    width: 500px;
    overflow: hidden;
}

#searchdisplay{
    overflow-y: scroll;
    height: 500px;
}

.albumItem{
    border: 3px solid black;
    border-radius: 5px;
    display: block;
    height: auto;
    width: calc(100% - 50px);
    margin: 10px;
    position: relative;
}

.AlbumImageAndTitle{
    display: inline-block;
    padding: 10px;
}

.albumTitle {
    display: block;
    max-width: 150px;
    word-wrap: break-word;
    white-space: normal;
}

.searchButton{
    background-color: #fce788;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
#searchbar{
    border: 3px solid black;
    border-radius: 5px;
}

.AlbumDetails{
    display: inline-block;
    position: absolute;
    top: 0;
    padding-right: 5px;
}

img{
    width: 200px;
    margin-bottom: 10px;
}

